/* Variables */
:root {
  --bg-color: #FBFBFB;
  --text-color: #000;
  --hover-color: #ECF3F9;
  --text2-color: #A6A6A6;
  --text-size: 1.45rem;
  --text-size-little: calc(var(--text-size) - 0.3rem);
}

/* Global Styles */
body {
  background-color: var(--bg-color);
  margin: 0 2rem 2rem 2rem;
  padding: 0 2rem 2rem 2rem;
  font-family: 'Futura PT', sans-serif;
}

/* Top and Bottom Gradient Bars */
.top-gradient-bar,
.bottom-gradient-bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
}

.top-gradient-bar {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.bottom-gradient-bar {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* Background Image with Opacity */
body::before {
  content: "";
  background: url('./src/wallpaper.jpeg') no-repeat center center/cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.025;
  z-index: -1;
}

/* Container Styles */
.container,
.experience-grid,
.cases-container,
.social-menu {
  position: relative;
  z-index: 1;
}

/* Home Section */
.name-title {
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 1;
}

.ux-subtitle {
  font-size: 2.1rem;
  font-weight: lighter;
  line-height: 1;
}

.paragraph-title {
  font-size: var(--text-size-little);
  font-weight: lighter;
  color: var(--text-color);
}

.paragraph-title strong {
  font-weight: 500;
  color: var(--text-color);
}

/* Logo Container */
.logo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem, 1rem, 1rem;
  border-radius: 10rem;
}

.logo-item {
  text-align: end;
  align-self: center;
  max-width: 10rem;
}

.logo-item img {
  max-width: 100%;
  height: auto;
  max-height: 1.5rem;
}

/* Social Menu */
.social-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  list-style: none;
  margin-top: 3rem;
}

.button-with-image {
  font-size: 1rem;
  font-weight: lighter;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 0.75rem 1.25rem; /* Increased padding for more rounded appearance */
  border: none;
  border-radius: 3rem; /* More rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.button-with-image img {
  margin-right: 0.75rem; /* Increased space between the icon and text */
  height: 1.25rem; /* Slightly larger icon for better balance */
}

.button-with-image:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px); /* Smooth floating effect */
}

.cv-span-large,
.cv-span-small {
  display: none;
}


/* Experience Section */
.experience-section {
  margin: 2rem 0 10rem 0;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.experience-grid2 {
  background-color: var(--bg-color);
  border-radius: 1rem;
  box-shadow: 0px 28px 28px 0px rgba(0, 0, 0, 0.03);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, auto);
  margin: 0 0 8rem 0;
}

.column-experience,
.column-experience-hide,
.column-jobs {
  padding: 1rem;
  align-self: center;
  text-align: left;
}

.column-dates {
  padding: 1rem;
  text-align: end;
}

.experience-past,
.experience-text,
.experience-dates,
.experience-dates-small,
.experience-company,
.experience-jobs {
  font-size: var(--text-size-little);
  font-weight: lighter;
  color: var(--text-color);
}

.experience-past,
.experience-past-small {
  font-size: 1.2rem;
  font-weight: 900;
  display: none;
}

.experience-jobs {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.row,
.rowhide {
  display: block;
  color: var(--text2-color);
  align-items: center;
}

.row::after,
.rowhide::after {
  content: "";
  display: block;
  height: 0.05rem;
  background-color: var(--text2-color);
}

/* Banner Section */
.banner-section {
  margin-bottom: 4rem; /* Spacing below the banner */
}

/* Banner Container */
.banner-container {
  overflow: hidden; /* Hide the scrollbar */
  white-space: nowrap; /* Keep items in a single line */
  width: 100%; /* Define the visible area */
  height: 2.1rem; /* Adjust to your banner's height */
  display: flex; /* Align child elements in a row */
  -ms-overflow-style: none; /* Hide scrollbar in IE */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.banner-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome/Safari */
}

/* Banner Content */
.banner {
  display: flex; /* Align logos horizontally */
  gap: 1rem; /* Space between logos */
}

/* Logo Styles */
.banner img {
  object-fit: contain; /* Ensure logos are fully visible */
  align-self: center; /* Center align logos vertically */
  flex-shrink: 0; /* Prevent resizing of logos */
  margin-right: 2rem; /* Add space between logos */
  max-height: 2rem; /* Set a consistent logo height */
}

/* Notable Numbers Section */
.numbers-section {
  padding: 0 0 0 2rem;
  max-width: 1200px;
}

.numbers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  align-items: center;
}

.column-numbers,
.column-numbers-priority {
  border: none;
  padding: 1rem; /* Reduced padding for tighter space around the numbers */
}

.numbers-title {
  font-size: 2rem; /* Title font size */
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  grid-column: span 3;
  margin: 9rem 0 0 0;
  letter-spacing: 1px;
  white-space: nowrap;
}

.numbers-data {
  font-size: 9rem;
  font-weight: 900;
  line-height: 0.5; /* Tightened line height to reduce space above and below numbers */
  text-align: center;
  color: var(--primary-color);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 0; /* Remove any padding to reduce space around numbers */
}

.numbers-description {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text2-color);
  text-align: center;
  letter-spacing: 1px;
}

.empty-line {
  height: 1.5rem;
}

.numbers-text {
  font-size: var(--text-size-little);
  font-weight: 500;
  color: #333;
  text-align: center;
}

.column-numbers-priority {
  grid-column: span 1;
}

@media screen and (max-width: 768px) {
  .numbers-section {
    padding: 0;
  }

  .numbers-title {
    font-size: 1.75rem;
  }

  .numbers-data {
    font-size: 6rem;
  }

  .numbers-description,
  .numbers-text {
    font-size: var(--text-size-little);
  }

  .numbers-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .column-numbers-priority {
    grid-column: span 1;
  }
}

/* Cases Section */
.cases-section {
  margin: 2rem 0 10rem 0;
}

.cases-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
  margin: 4rem 0 1rem 0;
  row-gap: 5rem;
}

.column-case {
  text-align: center;
  align-self: center;
}

.column-cases {
  padding-top: 1rem;
  text-align: start;
  align-self: center;
}

.case-image img {
  height: 18rem;
  width: 18rem;
  border-radius: 10rem;
  object-fit: cover;
}

/* Logo Container for Cases */
.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-item-case {
  text-align: end;
  align-self: center;
  max-width: 10rem;
}

.logo-item-case img {
  max-width: 100%;
  height: auto;
  max-height: 3rem;
}

.cases-title {
  font-size: var(--text-size);
  font-weight: 500;
}

.cases-paragraph-title {
  font-size: var(--text-size);
  font-weight: lighter;
  color: var(--text-color);
}

.case-button-with-image {
  font-size: var(--text-size-little);
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.case-button-with-image:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cases-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cases-stats-title {
  font-size: var(--text-size);
  font-weight: bolder;
}

.cases-stats-description {
  font-size: var(--text-size-little);
  font-weight: lighter;
  color: var(--text-color);
}

/* About Section */
.about-section {
  margin: 2rem 0 10rem 0;
}

.about-skills-title {
  width: 100%;
  font-size: 3rem;
  font-weight: lighter;
}

.about-skills-description {
  font-size: var(--text-size);
  font-weight: lighter;
  color: var(--text-color);
}

.wow {
  width: 100%;
  font-size: 3rem;
  font-weight: lighter;
  margin: 8rem 0 0 0;
}

.wow-principal-container {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr;
  grid-template-rows: repeat(4, auto);
  align-items: start;
}

.wow-container {
  padding-top: 1rem;
  text-align: start;
}

.wow-image {
  height: 3rem;
  margin-right: 20px;
}

.wow-content {
  flex-grow: 1;
}

.wow-title {
  font-size: var(--text-size);
  font-weight: 800;
}

.wow-description {
  font-size: var(--text-size-little);
  font-weight: 100;
  color: var(--text-color);
  line-height: 1.5rem;
}

/* Footer */
footer {
  margin: 3rem 0 0 0;
  padding: 0 0 5rem 0;
  width: 100%;
  color: var(--text2-color);
  text-align: center;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-column {
  text-align: center;
}

/* Media Queries */
@media (orientation: portrait) {
  .column {
    text-align: center;
  }

  .column-numbers {
    display: none;
  }

  .numbers-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    text-align: center;
  }

  .paragraph-title {
    text-align: justify;
  }

  .social-menu {
    justify-content: center;
    margin: 0 auto 1rem auto;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  .experience-past-small {
    display: block;
    font-weight: 600;
  }

  .experience-past {
    display: none;
  }

  .experience-dates-small {
    display: inline;
    color: var(--text-color);
  }

  .experience-dates {
    display: none;
  }

  .experience-grid2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto);
    margin: 0 0 8rem 0;
    max-width: 100%;
  }

  .column-experience-hide,
  .rowhide {
    display: none;
  }

  .wow-title {
    font-size: 1rem;
    text-align: start;
  }

  .cv-span-small {
    display: inline;
  }

  .cv-span-large {
    display: none;
  }

  #cases {
    display: none;
  }
}

@media (orientation: landscape) {
  body {
    padding: 4rem;
  }

  .experience-past,
  .experience-dates,
  .cv-span-large {
    display: block;
  }

  .experience-past-small,
  .experience-dates-small {
    display: none;
  }

  .cv-span-small {
    display: none;
  }
}

/* Smooth Font Rendering */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}
